form {
  display: flex;
  flex-direction: column;
  margin-bottom: 3rem;
    a {
        margin-left: auto;
    }
}

.input-wrapper {
    position: relative;
    input {
        width: 100%;
        min-height: 50px;
        border: 1px solid $color-text-secondary;
        border-radius: $radius;
        padding-left: 5ch;
        &:focus {
            color: $color-main;
            border: 1px solid $color-main;
            outline: none;
            & + .icon {
                color: $color-main;  
            }
          }
        &:focus::placeholder {
           color: $color-main;
        }
    }

    input[type='number'] {
        -moz-appearance:textfield;
        padding-left: 3ch;
    }
    
    
    
    /* Webkit browsers like Safari and Chrome */
    
    input[type=number]::-webkit-inner-spin-button,
    input[type=number]::-webkit-outer-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

    .icon {
        position: absolute;
        left: 0;
        top: 6px;
        color: $color-text-secondary;
        padding: 11px 8px;
        margin-left: 10px;
        transition: 0.3s;
    }
}





