form {
  display: flex;
  flex-direction: column;
  margin-bottom: 3rem;
    a {
        margin-left: auto;
    }
}

.input-wrapper {
    position: relative;
    input {
        width: 100%;
        min-height: 50px;
        border: 1px solid $color-text-secondary;
        border-radius: $radius;
        padding-left: 5ch;
        &:focus {
            color: $color-main;
            border: 1px solid $color-main;
            & + .icon {
                color: $color-main;  
            }
          }
    }

    .icon {
        position: absolute;
        left: 0;
        top: 6px;
        color: $color-text-secondary;
        padding: 11px 8px;
        margin-left: 10px;
        transition: 0.3s;
    }
}





