*, *::before, *::after {
    box-sizing: border-box;
  }
    
  body {
    margin: 0;
    font-family: $font-text;
    line-height: 1.7;
    font-weight: $font-normal;
    color: $color-text-main;
    overflow-x: hidden;
  }

.image-wrapper {
    display: flex;
    justify-content: center;
}

a {
  color: $color-main;
  text-decoration: none;
}


button {
  width: 100%;
  min-height: 50px;
  font-size: 1rem;
  text-transform: uppercase;
  border: none;
  border-radius: $radius;
  background-color: $color-main;
  color: $color-text-light;
  cursor: pointer;
}

.active {
  display: box;
}

.hidden {
  display: none;
}
