
h1 {
  font-family: $font-header;
  font-weight: $font-bold;
  font-size: 3.5em;
}

h2 {
    font-family: $font-header;
    font-weight: $font-bold;
    font-size: 3em;
    text-transform: capitalize;
  }

h3 {
font-family: $font-header;
font-weight: $font-bold;
font-size: 2em;
}