<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sass task</title>
</head>
<body>
  <div class="container">
      <section class="login">
          <div class="section-header">
            <div class="image-wrapper">
                <img src="/images/login.png" alt="Welcome back">
            </div>
            <h2 class="m-0 mt">Welcome back!</h2>
          </div>
          <form class="mt" action="">
              <div class="input-wrapper">
                <input type="email" name="mail" placeholder="example@email.com" id="mail">
                <i class="user icon" aria-hidden="true"></i>
            </div>
              <div class="input-wrapper mt">
                <input type="password" name="password" id="password">
                <i class="password icon" aria-hidden="true"></i>
              </div>
              <a href="#">forgot password?</a>
              <button type="submit">Log In</button>
          </form>
      </section>
    </div>
</body>
</html>